BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: 4
IndentAccessModifiers: true
ColumnLimit: 100
SpaceAfterCStyleCast: true
UseTab: Never
TabWidth: 8
AllowShortIfStatementsOnASingleLine: Never
AlignTrailingComments: true
SpacesBeforeTrailingComments: 3
AlwaysBreakAfterReturnType: None
AlignConsecutiveMacros: Consecutive
UseCRLF: false
NamespaceIndentation: All
IndentPPDirectives: AfterHash
